.App {
  text-align: center;
}
.App nav{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.App nav img{
  height: auto;
  width: 200px;
}
.App nav Link{
  font-style: bold;
  font-size: 100px;
}
.SingleCard{
  position: fixed;
}
.backImg{
  height: 100px;
  width: auto;
}

.PricedCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
  margin-right: 100px;
  font-weight: bold;
}

.AllCards{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 40px;
  margin-right: 100px;
  font-weight: bold;
}
.display{
  display:flex;
  flex-wrap: wrap;
}

.BannedCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
  margin-right: 100px;
  font-weight: bold;
}

.CardInfo img{
  height: 300px;
  width: auto;
}

.CardDeck{
  display: flex;
}
.CardDeck div{
  padding-right: 20px;
}